@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
// @import "enhancer";
@import "gu_grid";
@import "palette";
@import "space";

.interactive-atom {
    margin: 0;
    padding: 0;
}

$backgroundColor: $culture-800;
$primaryColor: $neutral-7;
$secondaryColor: $culture-300;

.interactive-wrapper {
    background-color: $culture-500;
}

.saturday-newsletter {
    background-color: $backgroundColor;


    .header {
        border-bottom: 1px solid $primaryColor;
        overflow: hidden;
        height: 200px;

        @include mq(desktop) {
            height: 450px;
            width: 100%;
        }
        
        img {
            margin: 0 auto;
            width: 100%;
        }
    }
    .body{
        padding-top: $space-1;
        margin: 0 12px;

        h1{
            font-family: $f-headline-full;
            color: $primaryColor;
            font-size: 34px;
            line-height: 115%;
            font-weight: 500;
            padding-bottom: $space-12;
        }
        p {
            font-family: $f-serif-text;
            font-size: 17px;
            line-height: 150%;
            color: $primaryColor;
            padding-bottom: $space-1;
        }
       
        &__subheading {
            font-weight: 700;
            font-family: $f-headline-full;
        }
        &__paragraph {

        }
        &__form {
            padding-bottom: $space-9;
        }
        &__onwards {
            border-top: 1px solid $primaryColor;
            padding-bottom: $space-5;
            margin-top: $space-6;

            h2 {
            font-family: $f-headline-full;
            color: $primaryColor;
            font-size: 24px;
            line-height: 115%;
            font-weight: 700;
            padding-bottom: $space-4;
            
            }
            &--inner {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: $space-2;
                justify-content: space-between; 
                
                @include mq(tablet) {

                }
                
            }

            .card {
                border-top: 1px solid $culture-600;
                width: calc(50% - 12px);
                @include mq(tablet){
                width: calc(25% - 10px);
                }
                

                &__image {
                    min-width: 140px;
                    min-height: 90px;
                    background-color: $neutral-7;
                    img {
                        object-fit: contain;
                        width: 100%;

                    }

                }
                &__content {
                    padding-bottom: $space-1;
                    h3 {
                        font-family: $f-headline-full;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 115%;
                        color: $secondaryColor;
                    }
                    &--title {
                        padding-bottom: $space-3;
                    }
                    p {
                        font-family: $f-sans-serif-text;
                        font-size: 15px;
                        line-height: 135%;
                    }
                    &--date {
                        display: flex;
                        align-items: center;
                        svg {
                            width: 14px;
                            height: 14px;
                            margin-right: 4px;
                            margin-top: 1px;
                            path {
                                fill: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

