.gs-container {
	position: relative;
	margin: auto;
	@include mq(tablet) {
		max-width: 740px;
	}
	@include mq(desktop) {
		max-width: 980px;
	}
	@include mq(leftCol) {
		max-width: 1140px;
	}
	@include mq(wide) {
		max-width: 1300px;
	}
}

.content__main-column {
    margin: 0 10px;

    @include mq(mobileLandscape) {
        margin: 0 20px;
    }

    position: relative;
    @include mq(tablet) {
        max-width: 620px;
    }
    @include mq(desktop) {
        margin-right: 310px;
    }
    @include mq(leftCol) {
        margin-left: 150px;
    }
    @include mq(wide) {
        margin-left: 230px;
    }
}