<div class="interactive-wrapper">
    <div class="gs-container saturday-newsletter">
        <div class="header">
            {{#Header}}
            <img src="{{imageUrl}}" alt="{{imageAltText}}">
            {{/Header}}
            
        </div>
        <div class="body content__main-column">
            {{#Header}}
            <h1>{{headline}}</h1>
            <p class="body__subheading">{{standfirst}}</p>
            <p class="body__paragraph">{{description}}</p>
            {{/Header}}
        <!-- The sign up form is added via an iframe -->
            <div class="sleeve-notes-email">
                <div class="email-signup email-signup__lozenge" data-component="sleeve-notes-email-interactive">
                    <!-- add iframe here -->
                    <iframe id="tech-scape" name="tech-scape" src="https://www.theguardian.com/email/form/plaintone/tech-scape" scrolling="no" seamless="" class="iframed--overflow-hidden email-sub__iframe" height="42" frameborder="0" data-component="email-embed--tech-scape" style="width: 100%;"></iframe>
                    <!-- end of iframe -->
                    <div class="email-signup__aside-text">
                        <span>No spam ever. Unsubscribe in one click.</span>
                        <span class="email-signup__aside-text__frequency">
                          <span class="inline-clock inline-icon">
                            <svg width="11" height="11" viewBox="0 0 11 11"><path d="M5.4 0c-3 0-5.4 2.4-5.4 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4-2.4-5.4-5.4-5.4zm3 6.8h-3.7v-5.1h.7l.6 3.7 2.4.6v.8z"/></svg>
                          </span>
                            weekly
                        </span>
                    </div>
                </div>

            </div>
        <!-- This is the end of the form -->
        <!-- This is the space where we had thumbnails to redirect to other newsletters -->
            <!-- <div class="body__onwards">
                <h2>You might also like...</h2>
                
                <div class="body__onwards--inner">
                    {{#Onward}}
                    <div class="card">
                        <a href="{{newsletterUrl}}">
                        <div class="card__image">
                            <img src="{{imageUrl}}" alt="">
                        </div>
                        
                        <div class="card__content">
                            <h3 class="card__content-title">{{newsletterName}}</h3>
                            <p class="card__content-body">{{bodyText}}</p>
                            <p class="card__content-date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5227 15.5227 20 10 20C4.47727 20 0 15.5227 0 10C0 4.47727 4.47727 0 10 0C15.5227 0 20 4.47727 20 10ZM11.0909 9.68182L10.4318 1.81819H9.54548L8.86367 10.3409L10.0228 11.5L16.3637 10.9091V10L11.0909 9.68182Z" fill="#052962"/>
                                </svg>{{publicationDate}}
                            </p>
                            
                        </div>
                        </a>
                    </div>              
                    {{/Onward}}   
                </div>
                
            </div> -->
        </div>
    </div>
</div>
